<script>
 window.difyChatbotConfig = {
  token: 'jiOjv2YINasrGHPm',
  inputs: {
    // You can define the inputs from the Start node here
    // key is the variable name
    // e.g.
    // name: "NAME"
  },
  systemVariables: {
    // user_id: 'YOU CAN DEFINE USER ID HERE',
    // conversation_id: 'YOU CAN DEFINE CONVERSATION ID HERE, IT MUST BE A VALID UUID',
  },
  userVariables: {
    avatar_url: 'https://c-ssl.duitang.com/uploads/blog/202204/06/20220406124506_949ea.jpg',
    name: '我',
  },
 }
</script>
<script
 src="https://udify.app/embed.min.js"
 id="jiOjv2YINasrGHPm"
 defer>
</script>
<style>
  #dify-chatbot-bubble-button {
    background-color: #454444 !important;
  }
  #dify-chatbot-bubble-window {
    position: fixed !important;
    width: 30rem !important;
    height: 50rem !important;
  }
</style>